@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.service_area{
 
    height: 95vh;
}
.line{
    border: 1px solid #33d4d6;
    margin-top: 80px;
    width: 3%;
    margin-left: 48%;
    
}
.offer-text{
    text-align: center;
    margin-top: 10px;
}
.offer-text h2{
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    color: black;
}
.offer-text p{
    color: #7a838b;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.cards{
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.home{
    border-radius: 5px;
    border: none;
    width: 40vh;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70vh;
    background: -webkit-linear-gradient(top, #0a8cff 0%, #054680 100%);
}
.car{
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #0a8cff 0%, #054680 100%);
    width: 40vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
.education{
    border-radius: 5px;
    border:none;
    width: 40vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(top, #0a8cff 0%, #054680 100%);

}
.home-head{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}
.home-head img{
    height: 90px;
    margin-left: 120px;
    margin-top: 40px;
    color: #fff;
}
.home-head h5{
    margin-left: 120px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    color: #fff;
}
.home-head h2{
    margin-left: 90px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    font-weight: bold;
    color: #33d4d6
}
.home-info ul{
    list-style-type: disc;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 18px;
    font-family: "Roboto", sans-serif; 
    line-height: 30px;
    color: #fff;
}
.home-info li::marker {
    color: #33d4d6 /* Replace with your desired color */
}
.loan-icon {
    filter: invert(100%) brightness(1000%);
}
.home-info ul li:hover{
    cursor: pointer;
    color: white;
}


